{% load custom_filters %}
<h5>Your Projects</h5>
<!-- get projects for user with custom_filter method -->
<ul>
{% with projects=user|user_projects %}
{% for p in projects.all %}
	<li>
		<a href="{% url project p.id %}">{{ p.name }}</a>
		{% if p|owned_by_user:user %}(admin){% endif %}
	</li>
	{% if p.ownership %}hej{% endif %}
{% endfor%}
{% endwith %}
</ul>

<h5>Your latest 10 Tickets 
	<span class="countTickets">(<a href="{% url tickets %}">{{ user.tickets.count }}</a>)</span>
</h5>
<ul>			
<!-- get tickets for user, direct via the global user object -->
{% for t in user.tickets.all|dictsortreversed:"date_added"|slice:"10" %}
	<li><a href="{% url project_ticket t.project.id t.id %}">{{ t.name }}</a></li>
{% endfor %}
</ul>