{% load custom_filters %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}AMPTA{% endblock %}
		</title>
		{% block styles %}
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/site.css">
		{% endblock %}
	</head>
	<body>
		<div class="container">
		<header>
			<!-- menu nav -->
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a id="logo" class="brand">Ampta</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<a href="{% url home %}">Home</a>
								</li>
								<li>
									All users
								</li>
								<li {% if projects_active %}class="active"{% endif %}>
									<a href="{% url projects %}">All projects</a>
								</li>
								<li>
									<a href="{% url new_project %}">Create project</a>
								</li>
							</ul>
						</div>
						<span class="sign_out pull-right">Sign out</span>
						<span class="active_user pull-right">{{ user.get_full_name }}</span>
					</div>
				</div>
			</nav>
		</header>
 
		<!-- side nav -->
		<div class="sidenav pull-left">
			<h5>Your Projects</h5>
			<!-- get projects for user with custom_filter method -->
			<ul>
			{% with projects=user|user_projects %}
			{% for p in projects.all %}
				<li>
					<a href="{% url project p.id %}">{{ p.name }}</a>
					{% if p|owned_by_user:user %}(admin){% endif %}
				</li>
				{% if p.ownership %}hej{% endif %}
			{% endfor%}
			{% endwith %}
			</ul>
			
			<h5>Your latest Tickets ({{ user.tickets.count }})</h5>
			<ul>			
			<!-- get tickets for user, direct via the global user object -->
			{% for t in user.tickets.all|dictsortreversed:"date_added"|slice:"10" %}
				<li><a href="{% url project_ticket t.project.id t.id %}">{{ t.name }}</a></li>
			{% endfor %}
			</ul>
		</div>

		<!-- main -->
		<div class="main pull-left">

			{% for p in get_user_projects %}
				{{ p.name }}
			{% endfor%}

			{% block content %}
				This is the body.
			{% endblock %}

		</div>

		<footer></footer>
		</div>
		{% block javascript %}
		<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script src="{{ STATIC_URL }}js/init.js"></script>
		{% endblock %}
	</body>
</html>