{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}{{block.super}} | All projects{% endblock%}

{% block content %}
<h3>All projects</h3>
<ul class="allProjects">
{% for p in projects %}
	{% if p|user_is_project_member_or_owner:user %}
	<li class="allProjectsEach">
		<a href="{% url project p.id %}">{{ p.name }}</a>
		<div>
			<span class="badge badge-success" title="Users">{{ p.users.count }}</span>
			<span class="badge badge-warning" title="Tickets">{{ p.tickets.count }}</span>
			<span class="label label-info" title="You are member of this project">member</span>
		</div>
		<p>{{ p.description|slice:":40" }}...</p>
	</li>
	{% else %}
	<li class="allProjectsEachPrivate">{{ p.name }} <span class="label label-important">private</span></li>
	{% endif%}
{% endfor %}
</ul>
{% endblock %}