{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}{{block.super}} | All projects{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>All projects</h3>
<ul class="allProjects">
{% for p in projects %}
	{% if p|user_is_project_member_or_owner:user %}
	<li class="allProjectsEach">
		<a href="{% url project p.id %}">{{ p.name }}</a>
		<div>
			<span class="badge badge-success" title="Users">{{ p.users.count }}</span>
			<span class="badge badge-warning" title="Tickets">
				{% if p.tickets.count > 0 %}
				<a href="{% url project_tickets p.id %}">{{ p.tickets.count }}</a>
				{% else %}
				{{ p.tickets.count }}
				{% endif %}
			</span>
			<span class="label label-info" title="You are member of this project">member</span>
		</div>
		<p>{{ p.description|slice:":40" }}...</p>
		<p class="allProjectsTimesince"> Started {{ p.start_date|timesince }} ago</p>
	</li>
	{% else %}
	<li class="allProjectsEachPrivate">{{ p.name }} <span class="label label-important">private</span></li>
	{% endif%}
{% endfor %}
</ul>

{# pagination #}
<div class="pagination">
    <span class="step-links">
        {% if projects.has_previous %}
       		<a href="?p=1">first</a> | 
            <a href="?p={{ projects.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>

        {% if projects.has_next %}
            <a href="?p={{ projects.next_page_number }}">next</a> | 
            <a href="?p={{ projects.paginator.num_pages }}">last</a>
        {% endif %}
    </span>
</div>

{% endblock %}