{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}{{block.super}} | {{ project.name }}{% endblock%}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<span class="label label-info">Project</span>
<h3>{{ project.name }}</h3>
<p>{{ project.description }}</p>

<p><a href="{% url new_project_ticket project.id %}" class="btn">New ticket</a></p>

<h4>Start</h4>
<p>{{ project.start_date }}</p>


<h4>End</h4>
<p>{{ project.end_date }}</p>

<h4>Tickets</h4>
{% if project.tickets.count %}
<ul>
	{% for t in project.tickets.all %}
	<li><a href="{{ t.get_absolute_url }}">{{ t.name }}</a></li>
	{% endfor %}
</ul>
{% else %}
	<p>No tickets</p>
{% endif %}

<h4>Users</h4>
<ul>
{% for u in project.users.all %}
	{% if u == user %}
	<li><strong><a href="{% url user user.id %}">You</a></strong></li>
	{% else %}
	<li><a href="{% url user u.id %}">{{ u.get_full_name }} ({{ u.username }})</a></li>
	{% endif %}
{% endfor %}
</ul>

<h4>Owner</h4>
{% if project|project_owned_by_user:user %}

<p><a href="{% url user user.id %}"><strong>You</strong></a></p>
{% else %}

<p><a href="{% url user project.owner.id %}">{{ project.owner.get_full_name }} ({{ project.owner.username }})</a></p>
{% endif %}


{% if project|project_owned_by_user:user %}


<form action="{% url delete_project project.id %}" method="POST">{% csrf_token %}
	<a href="{% url edit_project project.id %}" class="btn">Edit</a>
	<input type="submit" value="Delete" class="confirmDelete btn" />
</form>

{% endif %}

{% endblock %}