{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}{{block.super}} | Tickets{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>{{ header }}</h3>
{% if tickets.count > 0 %}
<ul>
{% for t in tickets %}
	<li class="allTicketsEach">
		<a href="{% url project_ticket t.project.id t.id %}">{{ t.name }}</a>
		<p>{{ t.description|slice:":30" }} ...</p>
		<p><strong>Status:</strong> {{ t.status }}</p>
		<p><strong>Owner:</strong> <a href="{% url user t.owner.id %}">{{ t.owner.get_full_name }}</a></p>
		{% if t.end_date|date_has_passed  %}
		<p><strong>Time left:</strong> {{ t.end_date|timeuntil }}</p> {# custom filter #}
		{% else %}
		<p><strong>Time left:</strong> none</p>
		{% endif %}
	</li>
{% endfor %}
</ul>
{% else %}
	<p>You have no tickets.</p>
{% endif %}
{% endblock %}