{% extends 'shared/base.html' %}
{% load custom_filters %}

{% block title %}{{block.super}} | {{ ticket.name }}{% endblock%}

{% block content %}
<h3>{{ ticket.name }}</h3>
<p>{{ ticket.description }}</p>

<h4>Start</h4>
<p>{{ ticket.start_date }}</p>

<h4>End</h4>
<p>{{ ticket.end_date }}</p>

<h4>Status</h4>
<p>{{ ticket.status.status_name }}</p>

<h4>Owner</h4>
<p><a href="">{{ ticket.owner.get_full_name }}</a></p>


{% if ticket|project_or_ticket_owned_by_user:user %}

<p><a href="{% url edit_project_ticket ticket.project.id ticket.id %}">Edit</a></p>

<form action="{% url delete_project_ticket ticket.project.id ticket.id %}" method="POST">{% csrf_token %}
	<input type="submit" value="Delete" class="confirmDelete" />
</form>

{% endif %}

{% endblock %}