{% extends 'shared/base.html' %}

{% block title %}{{block.super}} | {{ the_user.get_full_name }}{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Change password</h3>

<form action="" method="POST">{% csrf_token %}
	<p>{{ form.password_current.errors }}</p>
	<p>{{ form.password_current }}</p>

	<p>{{ form.password.errors }}</p>
	<p>{{ form.password }}</p>

	<p>{{ form.password2.errors }}</p>
	<p>{{ form.password2 }}</p>

	<input type="submit" value="Update password" class="btn" />
</form>


{% endblock %}