{% extends 'shared/base.html' %}

{% block title %}{{block.super}} | Login{% endblock%}

{% block styles %}
{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/login.css">
{% endblock styles %}

{% block body %}

<div class="container">
	<div class="container">
		<div class="content">
			<div class="row">
				<div class="login-form">
					<h2>Login</h2>
					<h4 class="redAlert">{{ message }}</h4>
					<form action="" method="POST">{% csrf_token %}
						<fieldset>
							<div class="clearfix">
								{{ form.username.errors }}
								{{ form.username }}
							</div>
							<div class="clearfix">
								{{ form.password.errors }}
								{{ form.password }}
							</div>
							<input type="submit" value="Login" class="btn" />
						</fieldset>
					</form>
				</div>
				<p class="pull-right">Register</p>
			</div>
		</div>
	</div>
</div>

{% endblock body %}