<% content_for :title, "Tickets" %>

<% if @project_name  %>
<h3>Tickets for project <%= @project_name %></h3>
<% else  %>
<h3>Your tickets</h3>
<% end %>

<% if @tickets.size > 0 %>
	<ul>
	<% @tickets.each do |t| %>
		<li><%= link_to t.name, project_ticket_path(t.project, t) %></li>
	<% end %>
	</ul>
<% else %>
	<p>No tickets.</p>
<% end %>