<% content_for :title, "Tickets" %>

<%= render :partial => "layouts/sidenav" %>
<div class="main pull-left">
	<h1>Tickets for project</h1>
	<% @tickets.each do |t| %>
		<%= t.name %>
	<% end %>
</div>