<%= render :partial => "layouts/sidenav" %>
<div class="main pull-left">
	<h1>Ticket</h1>
	<%= @ticket.name %>

	<p>Owner</p>
	<%= @ticket.user.first_name %>

	<%= link_to '[x]', @ticket, :confirm => 'Are you sure you want to delete this ticket?', 
									:method => :delete %>
</div>