<div class="sidenav pull-left">
	<h5>Your projects</h5>
	<ul>
	<% @projects_nav.each do |p| %>
		<% if p.owner_id == session[:user_id] %>
			<% admin = '(admin)' %>
		<% else  %>
			<% admin = nil %>
		<% end %>
		<li><%= link_to p.name, project_path(p) %> <%= admin %></li>
	<% end %>
	</ul>
	<h5>Your latest tickets</h5>
</div>