<div class="sidenav pull-left">
	<h5>Your projects</h5>
	<ul>
	<% @projects_nav.each do |p| %>
		<% if p.owner_id == session[:user_id] %>
			<% admin = '(admin)' %>
		<% else  %>
			<% admin = nil %>
		<% end %>
		<li><%= link_to p.name, project_path(p) %> <%= admin %></li>
	<% end %>
	</ul>

	<h5>Your latest <%= @tickets_nav.size %> tickets</h5>
	<ul>
	<% @tickets_nav.each do |t|  %>
		<li><%= link_to t.name, project_ticket_path(t.project, t) %></li>
	<% end %>
	</ul>
</div>