<% content_for :title, "Projects" %>

<h3>Projects involving you</h3>
<ul>
<% @projects.each do |p| %>
	<% if p.users.exists?(session[:user_id])  %>
		<li><%= link_to p.name, project_path(p) %></li>
	<% end %>
<% end %>
</ul>

<h3>Other projects</h3>
<ul>
<% @projects.each do |p| %>
	<% if !p.users.exists?(session[:user_id]) %>
		<li><%= p.name %></li>
	<% end %>
<% end %>
</ul>
