<% content_for :title, "Projects" %>

<%= render :partial => "layouts/sidenav" %>
<div class="main pull-left">
	<h1>Projects</h1>
	<ul>
	<% @projects.each do |p| %>
		<li><%= link_to p.name, project_path(p) %></li>
	<% end %>
	</ul>
</div>